body {
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #0f0f13, #331a5a);
  color: white;
}

.main_component {
  background-color: #1e1e24;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
}

.input_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input_container input {
  width: 270px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #1f1f22;
  color: white;
}

.add_btn,
.clear_btn {
  background-color: #7b2cbf;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  white-space: nowrap;
  height: 42px;
}

.clear_btn {
  max-width: 200px;
  display: block;
  text-align: center;
}

.clear_btn:hover,
.add_btn:hover {
  background-color: #5a189a;
}

.task_count {
  font-size: 0.85rem;
  font-style: italic;
  margin-top: 16px;
}
